parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        # WordPress specific
        - '#Function [a-zA-Z0-9\\_]+ not found\.#'
        - '#Constant [A-Z_]+ not found\.#'
        - '#Class WP_[a-zA-Z0-9\\_]+ not found\.#'
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanDirectories:
        - vendor/wordpress/wordpress
    tmpDir: tmp
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon 